<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Signika:wght@700&display=swap"
    />
    <link
      href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <title>{{ name }}</title>
  </head>
  <body>
    <div class="container">
      <div style="background: transparent !important" class="jumbotron">
        <div style="font-family: 'Signika', cursive">
          <p>
            <a href="/"
              ><center>
                <font size="30">{{ name }}</font>
              </center></a
            >
          </p>
        </div>
      </div>
      <form action="/" method="get">
        <div class="input-group">
          <input
            type="text"
            class="form-control input-lg"
            name="input"
            placeholder="Search"
            value="{{ search_term }}"
            autofocus
          />
          <div class="input-group-btn">
            <button class="btn btn-primary btn-lg" type="submit">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
        </div>
      </form>
      <center>
        <div style="padding: 50px">
          {% if not search_term %}
          <b>Enter a search term</b>
          {% else %}
          <b>Search results for: {{ search_term }}</b>
          {% if photo != None or video != None %}
          <div class="row">
            <div class="col-md-6">
              {% if video != None %}
              <p>
                <b
                  ><a
                    href="https://www.youtube.com/embed/{{ video['id']['videoId'] }}"
                    >Video: {{ video["snippet"]["title"] }}</a
                  ></b
                >
              </p>
              <iframe
                width="420"
                height="315"
                src="https://www.youtube.com/embed/{{ video['id']['videoId'] }}"
                frameborder="0"
                allowfullscreen
              ></iframe>
              {% else %}
              <p>No video found</p>
              {% endif %}
            </div>
            <div class="col-md-6">
              {% if photo != None %}
              <p>
                <b
                  ><a href="{{ photo['media']['m'] }}"
                    >Photo: {{ photo["title"]}}</a
                  ></b
                >
              </p>
              <img
                width="420"
                height="315"
                src="{{ photo['media']['m'] }}"
                alt="photo"
                class="img-responsive"
              />
              {% else %}
              <b>No picture found</b>
              {% endif %}
            </div>
          </div>
          {% else %}
          <b>No results found</b>
          {% endif %} {% endif %}
        </div>
      </center>
    </div>
  </body>
</html>
